<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Albums</title>
</head>
<body>
	<h1>Albumes</h1>
	<div class="pure-g">
		<div>{{ object.title }}</div>
		<img src="/media/{{ object.cover }}" alt="">
	</div>
</body>
</html>