<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Albums</title>
</head>
<body>
	<h1>Albumes</h1>
	<div class="pure-g">
		{% for album in object_list %}
			<div class="pure-u-1-3">
				<figure>
					<img src="/media/{{ album.cover }}" alt="{{ album.title }}">
					<figcaption>{{ album.title }}</figcaption>
					<figcaption>By {{ album.artist.nickname }}</figcaption>
				</figure>
			</div>
		{% empty %}
			<div>No hay albumes aun.</div>
		{% endfor %}
	</div>
</body>
</html>