<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Algo</title>
</head>
<body>
	<h1>Top Tracks!!!</h1>
	<div>
		<ul>
			{% for track in object_list %}
				<li>{{ track.title }}: {{ track.order }}</li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>