<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sfotipy</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/">
</head>
<body>
	<section>
		<div class="pure-g">
			<div class="pure-u-1-2">Sfoti.py</div>
			<div class="pure-u-1-2">
				{% if is_auth %}
					<span>{{ username }}</span>
					<a href="">Logout</a>
				{% else %}
					<a href="">Login</a>
				{% endif %}
			</div>
		</div>
		{% block content %}
		{% endblock content %}
	</section>
</body>
</html>