{% extends 'base.html' %}

{% block content %}
	<div class="pure-g">
		<div class="pure-u-1">
			<h2>Features</h2>
		</div>
		<div class="pure-u-1-2">
			<ul>
				<li>Uno jajajaj</li>
				<li>Uno jajajaj</li>
				<li>Uno jajajaj</li>
				<li>Uno jajajaj</li>
			</ul>
		</div>
		<div class="pure-u-1-2">
			<ul>
				<li>Uno jajajaj</li>
				<li>Uno jajajaj</li>
				<li>Uno jajajaj</li>
				<li>Uno jajajaj</li>
			</ul>
		</div>
	</div>
{% endblock content %}