{% extends 'base.html' %}

{% block content %}
	<div class="pure-g">
		<div class="">
			<form action="" method="POST">
				{{ form.as_p }}
				{% csrf_token %}
				<input type="submit" value="Login">
			</form>
		</div>
		<div class="pure-u-1">
			<h2>Features</h2>
		</div>
		<div class="pure-u-1-2">
			<ul>
				<li>Uno jajajaj</li>
				<li>Uno jajajaj</li>
				<li>Uno jajajaj</li>
				<li>Uno jajajaj</li>
			</ul>
		</div>
		<div class="pure-u-1-2">
			<ul>
				<li>Uno jajajaj</li>
				<li>Uno jajajaj</li>
				<li>Uno jajajaj</li>
				<li>Uno jajajaj</li>
			</ul>
		</div>
	</div>
{% endblock content %}