<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Signin</title>
</head>
<body>
	<section>
		<form action="" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Submit">
		</form>
	</section>
</body>
</html>