<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
</head>
<body>
	<section>
		{# action se queda vacia para que la misma vista que hace el reder del formulario lo evalue #}
		<form action="" method="POST">
			{# Token de validacion #}
			{% csrf_token %}
			{# as_p es para que cada campo del formulario se genere en una etiqueta <p> #}
			{{ form.as_p }}
			<input type="submit" value="Submit">
		</form>
	</section>
</body>
</html>